.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vmin;
    background: url("../assets/parking.svg") no-repeat center center;
    background-size: cover;
    background-color: #282c34;
  }
  
  .auth-box {
    min-height: 240px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .auth-box h2 {
    margin-bottom: 15px;
  }
  
  .auth-box input {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 280px;
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-box button:hover {
    background: #0056b3;
  }
  
  .auth-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-link:hover {
    text-decoration: underline;
  }
  